*{
    font-size: 20px;
    background-color: whitesmoke;    
}
.main{
    display: grid;
    justify-items: center;
}
.main img{
    padding-left: 10px;
}

.em{
    font-weight: 300;
}

.field{

}

.pic{
    height: 55vh;
    width: 120vh;
}